<app-navbar-user></app-navbar-user>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-4">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Category</label>
                    <input name="category" [(ngModel)]="category" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button (click)="readValues()" class="btn btn-warning">Search</button>
                </div>
            </div>
            <div class="container">
                <div class="row g-3 mt-4">
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6" *ngFor="let i of searchData">
                        <div class="card">
                            <img height="400px" width="400px" src="https://images.unsplash.com/photo-1505740420928-5e560c06d30e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cHJvZHVjdHxlbnwwfHwwfHw%3D&w=1000&q=80" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h1 class="card-text">{{i.name}}</h1>
                              <p class="card-text">{{i.description}}</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Price: {{i.price}}</li>
                                <a aria-setsize="40" href="#" class="btn btn-primary">Check Out</a>
                            </ul>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
